.card-loading{
    color: white;
    padding: 10px;
    width:25em;
    margin: 10px;
    display: grid;
    grid-template-rows  : 80% 20%;
}

#img-loading{
    width: 100%;
    height: 100%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-loading{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-l{
    
    width: 80%;
    height: 80%;
    size: cover;
    object-fit: cover;
    background-color: gray;
    animation: loading 2s infinite;

}

@keyframes loading {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
  }
  

#img-l{
    margin-top: -50px;
    width: 80%;
    height: 80%;
    size: cover;
    object-fit: cover;
    background-color: gray;
    animation: loading 2s infinite;

}

